<style>

h1 {
  font-size: 35px;
  background-color: black;
  text-align: center;
  color: white;
}

body {
  background-color: tan;
}

.biosection {
  align-itms: right;

#thisothersection
}

</style>
